.container {
    border-radius: 5px;
    background-color: rgb(247, 197, 104);
    padding: 20px;
}
.container input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
}
.container button {
    background-color: rgb(250, 211, 140);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container input[type=submit]:hover {
    background-color: rgb(252, 179, 44);
}
.social-icons a{
    padding-left: 500px;
    align-items: center;
}
.social-icons img{
    width: 40px;
    display: inline-block;
    margin: 25px 25px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
